<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="image_upload">
    <%= f.hidden_field(:picture_cache) %>
    <%= f.file_field(:picture) %>
  </div>

  <div class="field">
    <%= f.text_field :link, :value => '', :placeholder => "post link (please don't link to homepage)" %>
  </div>

  <div class="field">
    <%= f.text_field :title, :value => '', :placeholder => "post title" %>
  </div>

  <div class="field">
    <%= f.text_area :body, :value => '', :placeholder => 'description' %>
  </div>

  <div class="actions">
    <%= f.submit 'Submit Post', :class => "button small success" %>
  </div>
<% end %>
