
<div id="posts"> 
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
    <% @posts.each do|post| %> 
      <li>
        <div id="post">
          <figure>
            <h5 class="figtitle"><%= post.title %></h5> 
            <%= cl_image_tag(post.picture, :width => 320, :height => 320, :crop => :fill) %>
            <figcaption class="bottom-caption">
              <%= simple_format post.body %>
              <%= link_to 'Edit', edit_post_path(post), :class=> "button tiny" %> 
              <%= link_to 'Destroy', post, method: :delete, :class=> 'button tiny alert', data: { confirm: 'Are you sure?' } %>
            </figcaption>
          </figure>
          
        </div>
      </li>
    <% end %>
  </ul>
</div>

<br>

<%= link_to 'New Post', new_post_path, :class => "button small success"%>

<script>
    $(document).ready(function() {
      $(" #post ").hover(function() {
          $(this).find('h5.figtitle').fadeIn();
      }, function() {
          $(this).find('h5.figtitle').fadeOut();
      });
    });
</script>