
<div id="posts"> 
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
    <% @posts.each do|post| %> 
      <li>
        <div id="post">
          <figure>
            <h5 class="figtitle"><%= post.title %></h5> 
              <%= link_to cl_image_tag(post.picture, :width => 275, :height => 275, :crop => :fill), post_path(post) %>
            <figcaption class="bottom-caption">
              <%= simple_format truncate(post.body, length: 42) %>
              <em>Submitted by <%= post.user.username %> on <%= post.created_at.to_formatted_s(:short) %>.</em>
              <br>
              <div id="controls">
              <% if current_user %>
                <% if post.user_id == current_user.id %>
                  <%= link_to '<i class="fi-wrench"></i>'.html_safe, edit_post_path(post) %>
                  <%= link_to '<i class="fi-trash"></i>'.html_safe, post, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% elsif current_user.role == 'admin' %>
                  <%= link_to '<i class="fi-star"></i>'.html_safe, edit_post_path(post) %> 
                  <%= link_to '<i class="fi-trash"></i>'.html_safe, post, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% unless post.approved %>
                    <%= link_to '<i class="fi-check"></i>'.html_safe, edit_post_path(post) %>
                    <%= link_to '<i class="fi-x"></i>'.html_safe, edit_post_path(post) %>
                  <% end %>
                <% end %>
              <% end %>
              </div>
            </figcaption>
          </figure>
          
        </div>
      </li>
    <% end %>
  </ul>
</div>

<br>
  
  <% if current_user %>
    <%= link_to "New Post", '#', data: {:"reveal-id"=>"newPostModal"}, :class=>'button small success' %>
  <% end %>
  <div id="newPostModal" class="reveal-modal" data-reveal>
      <%= render :template=>"posts/new" %>
    <a class="close-reveal-modal">&#215;</a>
  </div>

<script>
    $(document).ready(function() {
      $(" #post ").hover(function() {
          $(this).find('h5.figtitle').fadeIn();
      }, function() {
          $(this).find('h5.figtitle').fadeOut();
      });
    });
</script>