
<div id="posts"> 
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
    <% @posts.each do|post| %> 
      <li>
        <div id="post">
          <figure>
            <h5 class="figtitle"><%= post.title %></h5> 
              <%= link_to cl_image_tag(post.picture, :width => 275, :height => 275, :crop => :fill), post_path(post) %>
            <figcaption class="bottom-caption">
              <%= simple_format post.body %>
              <em>Submitted by <%= post.user.username %> on <%= post.created_at %>.</em>
              <br />
              <% if current_user %>
                <% if post.user_id == current_user.id %>
                  <%= link_to 'Edit', edit_post_path(post), :class=> "button tiny" %> 
                  <%= link_to 'Destroy', post, method: :delete, :class=> 'button tiny alert', data: { confirm: 'Are you sure?' } %>
                <% elsif current_user.role == 'admin' %>
                  <%= link_to 'Edit', edit_post_path(post), :class=> "button tiny" %> 
                  <%= link_to 'Destroy', post, method: :delete, :class=> 'button tiny alert', data: { confirm: 'Are you sure?' } %>
                  <% unless post.approved %>
                    <%= link_to 'Approve', edit_post_path(post), :class=> "button tiny success" %>
                    <%= link_to 'Reject', edit_post_path(post), :class=> "button tiny warning" %>
                  <% end %>
                <% end %>
              <% end %>
            </figcaption>
          </figure>
          
        </div>
      </li>
    <% end %>
  </ul>
</div>

<br>
  
  <%= link_to 'New Post', new_post_path, :class => "button small success"%>

<script>
    $(document).ready(function() {
      $(" #post ").hover(function() {
          $(this).find('h5.figtitle').fadeIn();
      }, function() {
          $(this).find('h5.figtitle').fadeOut();
      });
    });
</script>