<div id="showPage">
	<h1><%= @post.title %></h1>
	<div id="imageArea">
		<figure>
			<%= cl_image_tag(@post.picture, :width => "75%") %>
			<figcaption><%= @post.body %></figcaption>
		</figure>
	</div>
	<%= link_to 'Edit', edit_post_path(@post), :class => "button small warning" %>
	<%= link_to 'Back', posts_path, :class => "button small" %>
</div>