<div id="showPage">
	<h1><%= @post.title %></h1>
	<div id="imageArea">
		<figure>
			<%= cl_image_tag(@post.picture, :width => "75%") %>
			<figcaption><%= @post.body %></figcaption>
		</figure>
	</div>
	<% if current_user %>
    <% if @post.user_id == current_user.id %>
			<%= link_to 'Edit', edit_post_path(@post), :class => "button small warning" %>
		<% elsif current_user.role == 'admin' %>
      <%= link_to 'Edit', edit_post_path(@post), :class=> "button small warning" %>
    <% end %>
  <% end %>
	<%= link_to 'Back', posts_path, :class => "button small" %>
</div>